/* 웹폰트: 나눔고딕 적용  */



@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


body{
     background: url(http://combiboilersleeds.com/images/up/up-0.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}

#child
{
    
    line-height: 500px;
    font-size: 100px;
    font-family: "Nanum Gothic", sans-serif;
   
    
}


